;; shadow-cljs configuration
{:source-paths ["src"]
 :dependencies [[hoplon/hoplon "7.5.0"]
                [binaryage/devtools "1.0.7"]]
                ;; [applied-science/js-interop "0.4.2"]
 :dev-http {8000 "public"}
 :builds {:app {:target :browser
                :modules {:main {:init-fn swipl-playground.main/init}}
                :devtools {:before-load swipl-playground.main/stop
                           :after-load swipl-playground.main/start}}}}
